<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/Css/MyHistory.css">
    <link rel="stylesheet" href="../../Public/Css/navbar.css">
    <link rel="stylesheet" href="../../Public/Css/ScrollButton.css">
    <link rel="stylesheet" href="../../Public/Css/boton.css">
    <link rel="shortcut icon" href="./Public/Img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="../../Public/Img/logo.png" type="image/x-icon">
    <title>My History</title>
</head>
<body class="history-page">
    <section>
        <div class="content">
            <div class="menu container">
                <a href="../../index.html" class="logo"><img src="../../Public/Img/logo.png" style="height: 60px;"></a>
                <input type="checkbox" id="menu" />
                <label for="menu">
                    <img src="https://images.icon-icons.com/1875/PNG/512/hamburgermenu_120234.png" class="menu-icono">
                </label>
                <nav class="navbar">
                    <ul>
                        <li><a href="../../index.html#about-me">About me</a></li>
                        <li><a href="../../index.html#skills">Skills</a></li>
                        <li><a href="../../index.html#projects">Projects</a></li>
                        <li><a href="../../index.html#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="history-container">
        <h1>My History</h1>
        <h3>Key learnings and a bit more about me.</h3>
        <p>
            Since childhood, I've enjoyed drawing, exploring styles like realism, anime, and animated characters.
        </p>
        <p>
            At 17, I began learning English while studying software development, as I realized its importance in the field. 
            Balancing both studies, I eventually discovered Salesforce and took a course to become a Salesforce Administrator. 
            Today, I am both a Salesforce Administrator and a Software Developer.
        </p>
        <p>
            Beyond technology, I have a passion for fitness. I love exercising, running, going to the gym, and playing table tennis and soccer.
        </p>
        
        <!-- Galería de imágenes -->
        <div class="gallery">
            <div class="image-frame">
                <img src="../../Public/Img/Mom.jpeg" alt="Mom">
            </div>
            <div class="image-frame">
                <img src="../../Public/Img/Lion.jpeg" alt="Lion">
            </div>
            <div class="image-frame">
                <img src="../../Public/Img/Spike.jpeg" alt="Spike">
            </div>
            <div class="image-frame">
                <img src="../../Public/Img/father.jpeg" alt="Father">
            </div>
            <div class="image-frame">
                <img src="../../Public/Img/Wolf.jpeg" alt="Wolf">
            </div>
            <div class="image-frame">
                <img src="../../Public/Img/grandmaandgrandpa.jpeg" alt="Cousin">
            </div>
        </div>
    </section>

    <br><br><br>
    <!-- Sección de Quick Facts -->
    <section class="quick-facts">
        <h1>Quick Facts</h1>
        <div class="fact"><h3>Home town:</h3><p>Bucaramanga, Colombia</p></div>
        <div class="fact"><h3>When I started as a developer:</h3><p>2023 (After I graduated from high school)</p></div>
        <div class="fact"><h3>If I wasn't a developer:</h3><p>I would've been a Bachelor in International Business</p></div>
    
        <!-- Sección de portadas de libros -->
        <section class="book-covers">
            <h2>Book recommendations</h2>
            <div class="book-grid">
                <div class="book-cover">
                    <img src="https://roshdbook.com/wp-content/uploads/2024/10/Atomic-Habits-An-Easy-Proven-Way-to-Build-Good-Habits-Break-Bad-Ones-1.jpg" alt="Atomic Habits">
                </div>
                <div class="book-cover">
                    <img src="https://is1-ssl.mzstatic.com/image/thumb/Publication112/v4/f5/b5/88/f5b58852-0ca0-090d-23f7-852f49263755/9781544512266.jpg/1200x1200wz.jpg" alt="You Can't Hurt Me">
                </div>
                <div class="book-cover">
                    <img src="https://wizdomapp.com/wp-content/uploads/2024/02/The-Monk-Who-Sold-His-Ferrari-1.png" alt="The Monk Who Sold His Ferrari">
                </div>
            </div>
        </section>
    </section>
    
    <!-- Buttom-Acknowledgements -->
    <section class="buttom">
        <a href="../Views/Acknowledgments.html" target="_blank" class="btn11">
            <span>Acknowledgements</span>
            <div class="transition"></div>
        </a>
    </section>

    <br><br><br><br><br>
    <button id="scrollTopBtn" title="Come back up">⬆
</body>
    <script src="../../Public/Js/ScrollButton.js"></script>
</html>
